body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.page__header {
    background: url('../layout2_2/img/first-bg_cr.png') no-repeat center top / cover;
    height: 100vh;
    color: white;
    text-transform: uppercase;
}

.page__header li {
    list-style: none;
    display: block;
    float: left;
    margin-left: 30px;
}

.container {
    width: 930px;
    margin: 0 auto;
}

.menu {
    float: right;
    margin: 0;
    padding: 0;
    font-size: 14px;
    margin-top: 47px;
}

.logo {
    margin-top: 40px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.main__text {
    text-align: center;
}

.title__text {
    font-size: 40px;
    margin-top: 180px;
}

h1 {
    font-size: 75px;
}

.button__header {
    display: block;
    width: 240px;
    text-transform: uppercase;
    text-decoration: none;
    background: #fed136;
    color: #484543;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    padding: 20px 0;
    font-weight: bold;
    margin-top: 50px;
}

.services {
    color: black;
    margin-top: 120px;
}

h2 {
    font-size: 40px;
    text-align: center;
}

.title_elements p {
    text-align: center;
    margin: 0;
    color: darkgray;
}

.ourservices {
    display: flex;
    margin-top: 75px;
    margin-bottom: 120px;
}

.service__item h3 {
    font-size: 18px;
}

.service__item {
    width: 260px;
    text-align: center;
}

.service__item p {
    font-size: 13px;
    color: gray;
}

.service__item:nth-child(2) {
    margin: 0 80px;
}

.portfolio {
    background-color: #f7f7f7;
    padding: 120px 0;
}

.portfolio__images {
    margin-top: 75px;
    text-align: center;
}

.portfolio__images img:nth-child(2) {
    margin: 0 28px;
}

.about__item {
    margin: 90px 55px;
    text-align: right;
    display: flex;
}

.about__item h5 {
    text-transform: none;
}

.about__item p {
    width: 300px;
    font-size: 14px;
    color: gray;
}

.about__item img {
    padding: 0 18px;
}

.about__item:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: left;
    justify-content: right;
}

.copyright {
    display: block;
    text-align: center;
}

.clearfix:after {
    /*  */
    content: '';
    display: table;
    width: 100%;
    clear: both;
}